@model MuscatShadeOman.Models.DbModel.GalleryImageDetail

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangeServicesContent</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/jquery.fullPage.css" />
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
        ul {
            padding: initial;
            color: #000000;
        }

        .dropdown-content1 {
            bottom: -116px !important;
        }
        .form-horizontal{
            margin:100px;
        }
        textarea{
            height:150px!important;
        }
    </style>
    <script src="~/js/jquery-1.11.1.min.js"></script>
</head>
<body>
    <!--menu start-->
    <div class="wrapper-main position-relative">

        <div class="top-menu">
            <div class="wrapper-main-in">
                <a href="#" class="left-logo">
                    <img src="~/images/main-logo.png" />
                </a>
                <div class="menu">
                    <ul>
                        <li><a href="@Url.Action("Index", "Admin")" class="active-menu">Home</a></li>
                        
                        <li class="dropdown1">
                            <a href="#">Services</a>
                            <div class="dropdown-content1">
                                <ul>
                                    <li><a href="@Url.Action("ChangeServicesContent", "Admin")">Change content</a></li>
                                    <li><a href="@Url.Action("AddServicesImage", "Admin")">Add image</a></li>
                                    <li><a href="@Url.Action("RemoveServicesImage", "Admin")">Delete image</a></li>

                                </ul>
                            </div> <!--sub menu-->
                        </li>
                        <li class="dropdown1">
                            <a href="#">Projects  </a>
                            <div class="dropdown-content1">
                                <ul>
                                    <li><a href="@Url.Action("ChangeProjectsContent", "Admin")">Change content</a></li>
                                    <li><a href="@Url.Action("AddProjectsImage", "Admin")">Add image</a></li>
                                    <li><a href="@Url.Action("RemoveProjectsImage", "Admin")">Delete image</a></li>

                                </ul>
                            </div> <!--sub menu-->
                        </li>
                        <li><a href="@Url.Action("Logout", "Admin")">Logout</a></li>

                    </ul>
                </div> <!--menu-->
                @*<div class="contact-top-menu">
                        <a href="tel:+968 95320008" class="phone-number">+968 95320008</a>
                        <a href="tel:+96879573230" class="phone-number second-phone">+96879573230</a>
                        <a href="mailto:muscatshadeint@gmail.com?Subject=Request%20from%20website" class="email-top">muscatshadeint@gmail.com</a>
                    </div> <!--contact top menu-->
                    <div class="res-menu" data-toggle="modal" data-target="#myModal">
                        <img src="~/images/right-menu.png" />
                    </div> <!--right-->*@

            </div>  <!--main in-->
        </div>
    </div>
    <!--menu end-->
    
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Change Services Content</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    
                    <select id="Type" name="Type" class="form-control" required>
                        <option value="fabric">fabric</option>
                        <option value="fabric">steel</option>
                        <option value="fabric">glazing</option>
                        <option value="fabric">crafting</option>
                        <option value="fabric">pergolas</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                </div>
                <input type="hidden" id="hidType" name="hidType" />
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    
                    <input type="text" id="Title" name="Title" class="form-control" required/>
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <label class="control-label col-md-2">Paragraph content</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="ParagraphContent" name="ParagraphContent" required></textarea>
                    @Html.ValidationMessageFor(model => model.ParagraphContent, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    
</body>
</html>
<script>
        $(document).ready(function () {
            $("#Type").change(function () {
                varcityText = $("option:selected").text();
                $("#hidType").val(varcityText);
            });
        });
</script>